page-cart {
	button.controls{
		width: 25%;
	}
}

.recommendationImage{
	margin-right: 20px;
	border-radius: 10px;
}

.recommendationsText{
	float: left;
	padding-left: 5px;
	padding-right: 10px;
}

.recommendationsButton{
	width: 95%;
	border-radius: 5px;
}


