<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Personal Information</ion-item-divider>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/account.svg">
        </ion-avatar>
        <p>Display Name : {{personalInformation.username}}</p>
        <p>First Name : {{fullName.firstName}}</p>
        <p>Last Name : {{fullName.lastName}}</p>
        <p>Email : {{personalInformation.email}}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Your Card Information</ion-item-divider>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/creditcard-flat.png">
        </ion-avatar>
        <p>Card Number : {{paymentInformation.num}} </p>
        <p>Card Type : {{paymentInformation.cardType}} </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Your Delivery Address</ion-item-divider>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/address.png">
        </ion-avatar>
        <p>Address : {{addressInformation.number}} {{addressInformation.name}} {{addressInformation.streetType}}</p>
        <p>Postal Code : {{addressInformation.postalCode}}</p>
      </ion-item>
    </ion-item-group>
    <br />
    <button ion-button block color="secondary" (click)="UpdateInformation()">Update Information</button>
    <ion-item-group>
      <ion-item-divider color="light">Your Last 5 Orders</ion-item-divider>
      <ion-item *ngFor="let order of orders | slice:0:5; let i=index" (click)="ShowOrderDetails(order)">
        <ion-avatar item-left>
          <img src="assets/images/food.png">
        </ion-avatar>
        <p>{{order.date}}</p>
        <div *ngIf="order.delivery == 'True'">
          <p>Delivery</p>
        </div>
        <div *ngIf="order.delivery == 'False'">
          <p>Takeout</p>
        </div>
        <p>Total Price : ${{order.total}} </p>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>