<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Personal Information</ion-item-divider>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/account.svg">
        </ion-avatar>
        <p>Display Name : {{user?.username}}</p>
        <p>First Name : {{user?.displayName?.firstName}}</p>
        <p>Last Name : {{user?.displayName?.lastName}}</p>
        <p>Email : {{user?.email}}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Your Card Information</ion-item-divider>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/creditcard-flat.png">
        </ion-avatar>
        <p>Card Number : {{user?.paymentInfo?.num}} </p>
        <p>Card Type : {{user?.paymentInfo?.cardType}} </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Your Delivery Address</ion-item-divider>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/address.png">
        </ion-avatar>
        <p>Address : {{user?.address?.number}} {{user?.address?.name}} {{user?.address?.streetType}}</p>
        <p>Postal Code : {{user?.address?.postalCode}}</p>
      </ion-item>
    </ion-item-group>
    <br />
    <button ion-button block color="secondary" (click)="UpdateInformation()">Update Information</button>
    <ion-item-group>
      <ion-item-divider color="light">Your Last 5 Orders</ion-item-divider>
      <ion-item *ngFor="let order of orders | slice:0:5; let i=index" (click)="ShowOrderDetails(order)">
        <ion-avatar item-left>
          <img src="assets/images/food.png">
        </ion-avatar>
        <p>{{order.date}}</p>
        <div *ngIf="order.delivery == 'True'">
          <p>Delivery</p>
        </div>
        <div *ngIf="order.delivery == 'False'">
          <p>Takeout</p>
        </div>
        <p>Total Price : ${{orders.total}} </p>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>