<ion-menu [content]="content">
    <ion-header *ngIf="userAdmin" color="danger">
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-header *ngIf="!userAdmin">
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
  <ion-content>
    <ion-list>
      <div *ngFor="let p of pages">
        <ng-container *ngIf="p.access<=loginState;">
          <button menuClose ion-item [hidden]="p.component == 'LoginPage' && loginState >= 1" (click)="openPage(p)">
            {{p.title}}
          </button>
        </ng-container>

      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>