
<ion-header>
  <ion-navbar color="{{ isAdmin ? 'danger' : ''}}">
    <ion-title>{{this.menuItems[0].category}}</ion-title>
   <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="add" ></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of menuItems">

    <ion-card-content>
      <ion-card-title class="left">{{item.name}}</ion-card-title>
      <ion-row>
        <ion-col center text-center>
          <img item-left src={{item.imageURL}}/>
          <p class="center">{{item.calories}} calories</p>
        </ion-col>
        <ion-col left text-left>
          <p id="itemDescription">{{item.description}}</p>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-item>
          ${{item.price}}
          <button ion-button outline item-end icon-left *ngIf="!isAdmin" (click)="addItem(item._id)">
          <ion-icon name="cart"></ion-icon>
        Add To Cart       
      </button>
        </ion-item>
      </ion-list>
      <!-- Delete Button neil-->
      <button ion-button color="danger" full *ngIf="isAdmin" (click)="deleteClick(item._id)">REMOVE</button>

      <!-- Edit Button neil-->
      <button ion-button color="blue" full *ngIf="isAdmin" (click)="editItemClick(item)">EDIT</button>
    </ion-card-content>
  </ion-card>
</ion-content>