
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Maps</ion-title>
    </ion-navbar>
  
  </ion-header>
  
    
  <ion-content padding>
    <div class="map" #map id="map"  style="height: 40vh; position: relative; margin: auto;width: 92%;overflow: hidden;"></div> 
    <!--<ion-list>
        <ion-item *ngFor="let grocery of groceries">{{grocery}}</ion-item>
    </ion-list>-->
    <div *ngIf="restaurantItems.length ===0">
      <h1 text-center>No restaurant available. Please allow access to location.</h1>
    </div>
    <div *ngIf="restaurantItems.length >0">
      <br/>
        <h2 text-center>Please select a location</h2>
        <ion-list radio-group>
            <ion-item *ngFor="let restaurant of restaurantItems">
                <ion-radio value="{{restaurant.title}}"></ion-radio>
                <ion-label>  {{restaurant.title}}</ion-label>
                <ion-label>{{restaurant.fullAddress}}</ion-label>
                
            </ion-item>
        </ion-list>
        <button ion-button block large (click)="GoToOrderPage()">Next</button>
    </div>

  </ion-content>